# Ignorar TODO por defecto
/*

# PERMITIR solo el gitignore
!.gitignore

# PERMITIR carpeta y contenido de Assets
!Assets/
!ProjectSettings/
!Assets/**/*
*.meta

/Assets/TextMesh Pro
Packages/packages-lock.json
