# Carpetas de Unity a ignorar
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
[Uu]serSettings/
[Pp]ackages/
.vs/
ProjectSettings/
/ProjectSettings

# Archivos generados automáticamente
*.csproj
*.sln
*.user
*.log
*.cache
*.md

# Layouts específicos de VS o Rider
.vs/DaVinci_C3_Juego/

# Archivos individuales innecesarios
Logs/shadercompiler-UnityShaderCompiler.exe0.log
.vs/DaVinci_C3_Juego/v17/DocumentLayout.json

