/Library
/obj
/Temp
/Packages
/Logs
/ProjectSettings
/UserSettings
/.vs
*.cache
/obj
/Logs
/obj
/UserSettings
/Logs
/Logs
/UserSettings
/UserSettings
/UserSettings
/Logs
*.log
*.sln
Logs/shadercompiler-UnityShaderCompiler.exe0.log
DaVinci_C3_Juego.sln
CustomInspector.Helpers.Editor.csproj
CustomInspector.Helpers.csproj
CustomInspector.Editor.csproj
CustomInspector.Documentation.Editor.csproj
CustomInspector.Demo.csproj
CustomInspector.csproj
Assembly-CSharp.csproj
Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Logs
Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Logs
*.log
